{% extends 'layout.html' %}
{% block content %}
    <div class="card text-dark">
        <div class="card-body">
            <h3 class="card-title">Join Repo&#x2605;ry</h3>
            <form action="" method="POST">
                {{ form.csrf_token }}
                <div class="form-group">
                    {{ form.username.label }}
                    {{ form.username(class_="form-control")}}
                </div>
                <div class="form-group">
                    {{ form.email.label }}
                    {{ form.email(class_="form-control")}}
                </div>
                <div class="form-group">
                    {{ form.password.label }}
                    {{ form.password(class_="form-control")}}
                </div>
                <div class="form-group">
                    {{ form.confirm_password.label }}
                    {{ form.confirm_password(class_="form-control")}}
                </div>
                {{form.submit(class_="btn btn-primary")}}
            </form>
        </div>
        <div class="card-footer">
            <a href="{{ url_for('login') }}"class="text-primary text-small">Already have an account with us?</a>
        </div>
    </div>
{% endblock content %}
